<h1>Listado de Productos</h1>

<% productos.forEach(producto => { %>
    <h2><a href="/productos/<%= producto.id%>">Id: <%= producto.id %></a></h2>
    <p>Nombre: <%= producto.nombre %></p>
<% })%>

<br>
<button>
<a href="/productos/create">Crear Producto</a>
</button>
<br><br>
